@import "variables";
:host {
    h1 {
        line-height: 1.3;
        margin: 0 0 $mv-20px;
        font-size: $mv-32px;
    }
    .link {
        display: block;
        margin-bottom: $mv-20px;
        margin-top: $mv-40px;
    }

    .news-meta {
        margin-bottom: $mv-4px;
        font-size: $mv-12px;
        color: $gray-2;
    }
    .news-author {
        margin-right: 16px;
    }
}